/*--------- Style formulaire de contact -----------------*/
.dispo-formulaire{
    text-align: center;
}

.section-formulaire > h2{
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: white;
    text-shadow: 3px 3px 5px black;
    margin: 1.5%;
}

.dispo-label-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.style-label {
    font-family: 'Bungee', sans-serif;
}

.input-form{
    width: 40%;
    margin : 0.5% 0%;
    padding: 0.5%;
    background-color: rgb(181, 181, 181);
    border: 5px solid #1D3D51;
    border-radius: 10px;
}

.message {
    width: 40%;
    height: 200px;
    margin : 0.5% 0%;
    padding: 0.5%;
    background-color: rgb(181, 181, 181);
    border: 5px solid #1D3D51;
    border-radius: 10px;
}

#submitButton{
    margin: 1% 0%;
    padding: 1% 2%;
    background-color: #1D3D51;
    color: white;
    border: 3px solid rgb(181, 181, 181);
}

#submitButton:hover{
    background-color: #A503A6;
    color: black;
    border: 3px solid black;
}

/*------------------------ Style validation des champs du formulaire ------------------------*/

.is-valid{
    border-color : green;
}

.check-valid{
    color: green;
}

.is-invalid{
    border-color: red;
}

.check-invalid{
    color: red;
}

/* ------------------------------ Position des symboles ---------------------------*/
#div-name , #div-firstname , #div-email , #div-subject , #div-message{
    position: relative;
}

#input-name-check , #input-firstname-check , #input-email-check , #input-subject-check{
    position: absolute;
    top: 28%;
    left: 68.5%;
}

#input-message-check{
    position: absolute;
    top : 7%;
    left: 68.5%;
}

/*-------------- Responsive ---------------*/

@media  screen and (max-width: 768px){

    .section-formulaire > h2{
        font-size: 120%;
    }

    .input-form , .message{
        width: 75%;
    }

    #submitButton{
        padding: 2% 4%;
        margin: 3% 0%;
    }

    #input-name-check , #input-firstname-check , #input-email-check , #input-subject-check{
        top: 18%;
        left: 82%;
    }

    #input-message-check{
        top : 3%;
        left: 82%;
    }
}