@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

/*----- Initialisation du fichier CSS ------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0466A5;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Style header ---------------------------------------------------*/

.style-header{
    width: 100%;
    background-color: #ED017F;
}

/*---------------- Style logo et titre du site -------------------*/

.style-logo-nom{
    display: flex;
    align-items: center;
}

.style-logo-nom > h1 {
    width: 96%;
    font-family: 'Bungee', sans-serif;
    font-size: 180%;
    text-align: center;
    text-shadow: 2px 2px 4px #09D4C1;
}

.style-logo-nom > a {
    width: 4%;
    margin: 0.3%;
}

.logo{
    width: 100%;
    border: 3px solid black;
    border-radius: 300%;
}

/*---------------- Style barre de navigation ---------------------*/

.navbar-header{
    width: 100%;
    background-color: black;
}

.ul-navbar-header{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.style-li-navbar-header{
    width: 25%;
    text-align: center;
}

.lien-navbar{
    text-decoration: none;
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 90%;
    font-weight: bolder;
}

/*---------- Annimation navbar ---------------*/

.style-li-navbar-header:hover{
    background-color: #ED017F;
}

.lien-navbar:hover{
    color: black;
    text-shadow: 2px 2px 4px #F5ED42;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------- Style présentation du site ----------------------------------------------*/

.section-pres{
    /* background-image: url("image/logo/banniere-minijeu.jpg"); */
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: rgba(0,0,0,0.90);
    width: 50%;
    text-align: justify;
    padding: 2%;
    position: relative;
}

.box > h2 {
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: #09D4C1;
    text-shadow: 2px 2px 4px #6DD42D;
}

.box > p {
    color: white;
    margin: 1%;
    font-weight: bolder;
}

#dispo-p{
    text-align: center;
    margin-top: 4%;
}

/*------------- Annimation section présentation --------------*/

.box::before,
.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #09D4C1,#6DD42D,#F5ED42,#ED017F,#ED017F,#F5ED42,#6DD42D,#09D4C1);
    width: 100%;
    height: 100%;
    background-size: 500%;
    z-index: -1;
    transform: scale(1.01);
    animation: animate 30s infinite;
}

.box::after{
    filter: blur(15px);
}

@keyframes animate {
    0% {background-position: 0 0;}
    52% {background-position: 300% 0;}
    100% {background-position: 0 0;}
}

/*--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------- Style présentation des jeux ---------------------------------------------*/
section > h2{
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: #09D4C1;
    text-shadow: 2px 2px 4px #6DD42D;
}

/*---------- Style carousel -------------*/
.container-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider .infojeu {
    display: none;
}

.infojeu.active {
    display: block;
}