@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/*----- Initialisation du fichier CSS ------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0367A6;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Style header ---------------------------------------------------*/

.style-header{
    width: 100%;
    background-color: #A503A6;
}

/*---------------- Style logo et titre du site -------------------*/

.style-logo-nom{
    position: relative;
}

.style-logo-nom > h1 {
    font-family: 'Bungee', sans-serif;
    font-size: 180%;
    text-align: center;
    text-shadow: 2px 2px 4px #09D4C1;
}

.logo{
    position: absolute;
    width: 4%;
    top: 9%;
    left: 1%;
    border: 3px solid black;
    border-radius: 300%;
}

/*---------------- Style barre de navigation ---------------------*/

.navbar-header{
    width: 100%;
    background-color: black;
}

.ul-navbar-header{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.style-li-navbar-header{
    width: 25%;
    text-align: center;
}

.lien-navbar{
    text-decoration: none;
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 90%;
}

#icons {
    cursor: pointer;
    display: none;
}

/*---------- Annimation navbar ---------------*/

.style-li-navbar-header:hover{
    background-color: #A503A6;
}

.lien-navbar:hover{
    color: black;
    text-shadow: 3px 3px 5px #F5ED42;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------- Style présentation du site ----------------------------------------------*/

.section-pres{
    background-image: url(../image/logo/banniere-minijeu.jpg);
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: rgba(0,0,0,0.90);
    width: 50%;
    text-align: justify;
    padding: 2%;
}

.box > h2 {
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: #3DA603;
}

.box > p {
    color: white;
    margin: 1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

#dispo-p{
    text-align: center;
    margin-top: 4%;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------- Style présentation des jeux ---------------------------------------------*/
.section-carousel > h2{
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: #1D3D51;
    text-shadow: 2px 2px 4px #3DA603;
    margin: 1.5%;
}

.infojeu {
    width: 55%;
    background-color: rgba(0,0,0,0.90);
    margin: auto;
    padding: 1.3%;
    position: relative;
}

.dispo-lien{
    text-align: center;
}

.infojeu > h3{
    font-family: 'Bungee', sans-serif;
    color: #3DA603;
}

.infojeu > p {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 1% 0 3% 0;
}

.style-a-carou{
    text-decoration: none;
    color: black;
    background-color: #0367A6;
    font-family: 'Bungee', sans-serif;
    font-size: 85%;
    border: 2px solid white;
    border-radius: 50px;
    padding: 1%;
}

#prev{
    position: absolute;
    top: 50% ;
    left: 8%;
    font-family: 'Bungee', sans-serif;
    background-color: #A503A6;
    border: 2px solid black;
    border-radius: 50px;
    padding: 0.5%;
    transform: translate(-50% , -50%);
    cursor: pointer;
}

#next{
    position: absolute;
    top: 50%;
    right: 5%;
    font-family: 'Bungee', sans-serif;
    background-color: #A503A6;
    border: 2px solid black;
    border-radius: 50px;
    padding: 0.5%;
    transform: translate(-50% , -50%);
    cursor: pointer;
}

/*-----------  Annimation sur la div "card" de présentation des jeux ----------------------*/

.style-a-carou:hover {
    background-color: #A503A6;
}

#next:hover , #prev:hover{
    text-shadow: 2px 2px 4px #F5ED42;
    border: 4px solid black;
}

.infojeu::before,
.infojeu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #09D4C1,#6DD42D,#F5ED42,#ED017F,#ED017F,#F5ED42,#6DD42D,#09D4C1);
    width: 100%;
    height: 100%;
    background-size: 500%;
    z-index: -1;
    transform: scale(1.02);
    animation: animate 30s infinite;
}

.infojeu::after{
    filter: blur(15px);
}

/*-------------------- Style carousel --------------------*/
.container-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider .infojeu {
    display: none;
}

.infojeu.active {
    display: block;
}

/*------------------------------------------------------------------------------------------------------*/
/*---------------- Style section présentation auteur du site -----------------*/

.dispo-section{
    width: 50%;
    margin: auto;
    margin-top: 3%;
}

.info-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dispo-img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dispo-section > h2 {
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: #1D3D51;
    text-shadow: 2px 2px 4px #3DA603;
    margin: 1.5%;
}

.info-card > p {
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: white;
}

#img-perso{
    width: 100%;
    border-radius: 300%;
}

/*------------ Animation bordre image -----------------*/

.dispo-img::before,
.dispo-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #09D4C1,#6DD42D,#F5ED42,#ED017F,#ED017F,#F5ED42,#6DD42D,#09D4C1);
    border-radius: 300%;
    width: 100%;
    height: 100%;
    background-size: 500%;
    z-index: -1;
    transform: scale(1.03);
    animation: animate 20s infinite;
}

.dispo-img::after{
    filter: blur(15px);
}

/*-------------------------------------------------------------------------------------------------------------*/
/*---------------------- Style footer -----------------*/

.style-footer{
    background-color: #A503A6;
    margin-top: 2%;
    padding: 1%;
    border-top: 3px solid black;
}

.style-footer > h2 {
    text-align: center;
    font-family: 'Bungee', sans-serif;
    text-shadow: 2px 2px 4px #09D4C1;
}

.box-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sommaire{
    width: 50%;
    text-align: center;
}

.sommaire > h4{
    font-family: 'Bungee', sans-serif;
    text-shadow: 2px 2px 4px #09D4C1;
}

.contact{
    width: 50%;
    text-align: center;
}

.contact > h4 {
    font-family: 'Bungee', sans-serif;
    text-decoration: underline;
}

.liste-sommaire{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-footer{
    list-style: none;
}

.ul-footer > li > a {
    text-decoration: none;
    color: black;
    font-family: 'Bungee', sans-serif;
}

#lien-contact{
    color: black;
    text-decoration: none;
    font-family: 'Bungee', sans-serif;
    text-shadow: 2px 2px 4px #09D4C1;
}

.ul-reseaux{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-reseaux > li {
    width: 30%;
}

#logo1{
    width: 40%;
}

#logo2{
    width: 50%;
}

.style-footer > p {
    text-align: center;
    margin-top: 1%;
    font-family: 'Bungee', sans-serif;
}

/*-------- Annimation footer ----------*/

.lien-footer:hover{
    color: white;
    text-shadow: 2px 2px 4px #09D4C1;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------- Style Responsive --------------------------------*/

@media screen and (max-width: 768px) {
    /*------------------- Responsive Header ------------------*/
    .style-logo-nom > h1 {
        font-size: medium;
    }

    .logo {
        width: 8%;
    }

    /*------------------- Responsive Navbar/ Burger menu -----------------*/
    #icons {
        display: block;
        position: absolute;
        top : 1.5%;
        right: 5%;
    }

    #icons::before {
        content: "\2630";
    }

    .Active #icons::before {
        content: "\2715";
    }

    .navbar-header .ul-navbar-header {
        position: fixed;
        left: -100%;
        top: 6%;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.25s;
    }

    .navbar-header .style-li-navbar-header {
        width: 100%;
        padding: 3px 0;
    }

    .navbar-header.Active .ul-navbar-header {
        left: 0;
    }

    /*------------------- Responsive présentation du site ----------------------*/
    .box{
        width: 95%;
        padding: 4%;
    }

    .box > h2 , .dispo-section > h2 , .style-footer > h2 , .section-carousel > h2{
        font-size: 100%;
    }

    .box > p{
        font-size: 80%;
    }

    /*------------------- Responsive section présentation auteur du site -------------------*/

    .dispo-section{
        width: 100%;
        margin: 5% 0%;
        padding: 5%;
    }

    .info-card{
        display: inline;
    }

    .info-card > p{
        width: 100%;
    }

    .dispo-img{
        width: 50%;
        margin: 5% auto;
    }

    /*------------------- Responsive footer -------------------*/
    .box-footer{
        display: inline;
    }

    .sommaire , .contact{
        margin: auto;
    }

    #lien-contact , .contact > h4 {
        font-size: small;
    }

    .ul-reseaux > li{
        width: 50%;
    }

    #logo1 {
        width: 60%;
    }

    #logo2 {
        width: 75%;
    }

    .style-footer > p {
        font-size: x-small;
    }
}

/*----- annimation des bordures de présentation des jeu et de l'image perso -----*/
@keyframes animate {
    0% {background-position: 0 0;}
    52% {background-position: 300% 0;}
    100% {background-position: 0 0;}
}